name: Code Standards

on: [push, pull_request]

jobs:

  php-cs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: composer:v2
          coverage: none
      - run: composer install --no-interaction --prefer-dist --optimize-autoloader
      - run: composer phpcs

  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '22.x'
      - run: yarn
      - run: yarn lint
      - run: yarn build
